PORT=5000
MONGO_URI=mongodb://127.0.0.1:27017/portfolio
JWT_SECRET=your_jwt_secret_key_here

# Mailer Configurations (Nodemailer SMTP)
EMAIL_USER=donboscop24@gmail.com
EMAIL_PASS=24031904
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_FROM="Portfolio Portal <donboscop24@gmail.com>"
ADMIN_EMAIL=donboscop24@gmail.com

