PORT=5000
JWT_SECRET=developer_portfolio_secret_key_987654321

# MongoDB Atlas (AWS Cloud Cluster)
MONGO_URI=mongodb+srv://donboscop:Donboscop240325@cluster0.xpegsuq.mongodb.net/portfolio?retryWrites=true&w=majority

# PostgreSQL Database Configuration (AWS RDS / Neon / Supabase / Local)
DATABASE_URL=postgresql://neondb_owner:npg_2jATBUgI4qQb@ep-falling-voice-axnhhsp2.c-4.us-east-2.aws.neon.tech/neondb?sslmode=require

# Mailer Configurations (Nodemailer Gmail SMTP)
EMAIL_USER=donboscop24@gmail.com
EMAIL_PASS=gmkk ydhz eekj tudi
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_FROM="Portfolio Portal <donboscop24@gmail.com>"
ADMIN_EMAIL=donboscop24@gmail.com
